body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:915px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:883px;
  height:1859px;
}
#u0 {
  position:absolute;
  left:32px;
  top:29px;
  width:883px;
  height:1859px;
}
#u1 {
  position:absolute;
  left:2px;
  top:922px;
  width:879px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:55px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:63px;
  top:58px;
  width:142px;
  height:55px;
}
#u3 {
  position:absolute;
  left:2px;
  top:20px;
  width:138px;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  position:absolute;
  left:505px;
  top:58px;
  width:98px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  position:absolute;
  left:613px;
  top:58px;
  width:98px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  position:absolute;
  left:505px;
  top:58px;
  width:98px;
  height:30px;
}
#u8_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8.mouseDown {
  opacity:0;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:883px;
  height:42px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  position:absolute;
  left:32px;
  top:138px;
  width:883px;
  height:42px;
}
#u11 {
  position:absolute;
  left:2px;
  top:13px;
  width:879px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  position:absolute;
  left:63px;
  top:146px;
  width:88px;
  height:24px;
}
#u12_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12.mouseOver {
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  position:absolute;
  left:176px;
  top:146px;
  width:88px;
  height:24px;
}
#u14_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14.mouseOver {
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  position:absolute;
  left:288px;
  top:146px;
  width:88px;
  height:24px;
}
#u16_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16.mouseOver {
}
#u17 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  position:absolute;
  left:406px;
  top:146px;
  width:88px;
  height:24px;
}
#u18_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18.mouseOver {
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  position:absolute;
  left:515px;
  top:146px;
  width:88px;
  height:24px;
}
#u20_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20.mouseOver {
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22 {
  position:absolute;
  left:736px;
  top:146px;
  width:88px;
  height:24px;
}
#u22_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22.mouseOver {
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  position:absolute;
  left:623px;
  top:146px;
  width:88px;
  height:24px;
}
#u24_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24.mouseOver {
}
#u25 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:32px;
  top:180px;
  width:883px;
  height:288px;
  overflow:hidden;
}
#u26_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:883px;
  height:288px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u26_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:290px;
}
#u27 {
  position:absolute;
  left:-7px;
  top:0px;
  width:892px;
  height:290px;
}
#u28 {
  position:absolute;
  left:2px;
  top:137px;
  width:888px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:883px;
  height:288px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u26_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:885px;
  height:288px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:885px;
  height:288px;
}
#u30 {
  position:absolute;
  left:2px;
  top:136px;
  width:881px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:883px;
  height:288px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u26_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:884px;
  height:288px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:884px;
  height:288px;
}
#u32 {
  position:absolute;
  left:2px;
  top:136px;
  width:880px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u33 {
  position:absolute;
  left:32px;
  top:285px;
  width:42px;
  height:65px;
  font-size:28px;
}
#u34 {
  position:absolute;
  left:2px;
  top:16px;
  width:38px;
  word-wrap:break-word;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u35 {
  position:absolute;
  left:873px;
  top:285px;
  width:42px;
  height:65px;
  font-size:28px;
}
#u36 {
  position:absolute;
  left:2px;
  top:16px;
  width:38px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:649px;
  top:418px;
}
#u37_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u37_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:35px;
}
#u39 {
  position:absolute;
  left:2px;
  top:10px;
  width:51px;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  position:absolute;
  left:72px;
  top:1px;
  width:55px;
  height:35px;
}
#u41 {
  position:absolute;
  left:2px;
  top:10px;
  width:51px;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  position:absolute;
  left:147px;
  top:0px;
  width:55px;
  height:35px;
}
#u43 {
  position:absolute;
  left:2px;
  top:10px;
  width:51px;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:856px;
  height:695px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  position:absolute;
  left:43px;
  top:478px;
  width:856px;
  height:695px;
}
#u45 {
  position:absolute;
  left:2px;
  top:340px;
  width:852px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:856px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46 {
  position:absolute;
  left:43px;
  top:478px;
  width:856px;
  height:52px;
}
#u47 {
  position:absolute;
  left:2px;
  top:18px;
  width:852px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u48 {
  position:absolute;
  left:63px;
  top:486px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50 {
  position:absolute;
  left:808px;
  top:496px;
  width:57px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u52 {
  position:absolute;
  left:865px;
  top:496px;
  width:16px;
  height:16px;
}
#u53 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u54 {
  position:absolute;
  left:63px;
  top:533px;
  width:63px;
  height:63px;
}
#u55 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  word-wrap:break-word;
}
#u56_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u56 {
  position:absolute;
  left:136px;
  top:540px;
  width:43px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u58 {
  position:absolute;
  left:136px;
  top:566px;
  width:85px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u60_div {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60 {
  position:absolute;
  left:136px;
  top:601px;
  width:682px;
  height:20px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:27px;
}
#u62 {
  position:absolute;
  left:364px;
  top:596px;
  width:32px;
  height:27px;
}
#u63 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:158px;
}
#u64 {
  position:absolute;
  left:136px;
  top:631px;
  width:260px;
  height:158px;
}
#u65 {
  position:absolute;
  left:2px;
  top:71px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u66 {
  position:absolute;
  left:63px;
  top:831px;
  width:63px;
  height:63px;
}
#u67 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  word-wrap:break-word;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68 {
  position:absolute;
  left:136px;
  top:838px;
  width:29px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70 {
  position:absolute;
  left:136px;
  top:864px;
  width:85px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72 {
  position:absolute;
  left:136px;
  top:899px;
  width:557px;
  height:34px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:206px;
}
#u74 {
  position:absolute;
  left:136px;
  top:953px;
  width:172px;
  height:206px;
}
#u75 {
  position:absolute;
  left:2px;
  top:95px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  position:absolute;
  left:631px;
  top:917px;
  width:62px;
  height:16px;
}
#u77 {
  position:absolute;
  left:2px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
